# Reto Tecnologico

### Librerias

In [1]:
import pandas as pd
import warnings

### Importación de recursos

In [2]:
#data = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-4/master/CaseStudy/Attrition.csv')
data = pd.read_excel('Caso 01 - Cobranza Sector Financiero.xlsx')

### Desarrollo

#### Punto 1

In [3]:
data.head(10)

,Consecutivo Documento Deudor,Nit,Nombres,Numero Documento,Tipo De Producto,PRODUCTO,Valor Obligacion,Valor Vencido,Regional,REGION,...,Red,Cuadrante,Descripcion Causal,Calificacion Real,Fecha De Perfeccionamiento,Endeudamiento,Rango endeudamiento,Sector Economico,Profesion,Ocupacion
0,28768192,18,NaN,NaN,3,TARJETAS DE CREDITO,5637605.0,152093.0,2099,BOGOTA,...,1,TIENE VOLUNTAD Y TIENE CAPACIDAD REDUCIDA,CALAMIDAD,2,1978-12-06,5637605.0,2015-01-01 00:00:00,NaN,SIN PROFESION,SIN OFICIO
1,2712044,22,NaN,NaN,5,CONSUMO,40584.0,40584.0,2099,BOGOTA,...,1,SIN CUADRANTE,SIN CAUSAL DE MORA,3,2015-03-11,40584.0,<1M,NaN,SIN PROFESION,SIN OFICIO
2,13587837,23,NaN,NaN,3,TARJETAS DE CREDITO,2786178.0,547088.0,3099,SUR,...,1,TIENE VOLUNTAD Y TIENE CAPACIDAD REDUCIDA,RETRASO EN PAGO DE SALARIO,1,2003-03-27,7747280.0,2015-01-01 00:00:00,NaN,SIN PROFESION,JUBILADO
3,23479925,46,NaN,NaN,3,TARJETAS DE CREDITO,5904653.0,1455631.0,2099,BOGOTA,...,1,NO TIENE VOLUNTAD Y TIENE CAPACIDAD,DESCUIDO,1,1990-09-01,5904653.0,2015-01-01 00:00:00,NaN,SIN PROFESION,SIN OFICIO
4,2712382,92,NaN,NaN,5,CONSUMO,2221125.0,2221125.0,6399,CENTRO,...,1,TIENE VOLUNTAD Y TIENE CAPACIDAD,DESCUIDO,2,2015-05-12,2221125.0,2015-01-01 00:00:00,AGROPECUARIO,AGRICULTOR,TAXISTA
5,1683416,104,NaN,NaN,3,TARJETAS DE CREDITO,610840.0,349729.0,4599,CARIBE,...,1,NO TIENE VOLUNTAD Y TIENE CAPACIDAD,INGRESOS INSUFICIENTES,0,1972-10-01,610840.0,<1M,MADERAS Y SUS PRODUCTOS,CONTADOR,SIN OFICIO
6,4270407,106,NaN,NaN,3,TARJETAS DE CREDITO,1527464.0,1527464.0,1099,ANTIOQUIA,...,1,TIENE VOLUNTAD Y TIENE CAPACIDAD,DESCUIDO,1,2004-12-03,1574242.0,2015-01-01 00:00:00,TEXTILES Y CONFECCIONES,ADMINISTRADOR,SIN OFICIO
7,21947686,119,NaN,NaN,3,TARJETAS DE CREDITO,4310924.0,1239257.0,2099,BOGOTA,...,1,TIENE VOLUNTAD Y TIENE CAPACIDAD,DESCUIDO,1,1998-08-27,4310924.0,2015-01-01 00:00:00,NaN,SIN PROFESION,SIN OFICIO
8,2712477,120,NaN,NaN,5,CONSUMO,1110042.0,1110042.0,6199,CENTRO,...,1,TIENE VOLUNTAD Y TIENE CAPACIDAD,INGRESOS INSUFICIENTES,1,2015-06-10,8878707.0,2015-01-01 00:00:00,"CONSTRUCCION, CEMENTO Y ACTIVIDADES INMOBILIARIAS",SIN PROFESION,INDEPENDIENTE
9,19927288,129,NaN,NaN,3,TARJETAS DE CREDITO,5228504.0,547011.0,3099,SUR,...,1,TIENE VOLUNTAD Y TIENE CAPACIDAD,EXTRACTO NO ENTREGADO,1,2011-04-29,13101168.0,2015-01-01 00:00:00,NaN,SIN PROFESION,SIN OFICIO

In [4]:
data.dtypes

Consecutivo Documento Deudor             int64
Nit                                      int64
Nombres                                float64
Numero Documento                       float64
Tipo De Producto                         int64
PRODUCTO                                object
Valor Obligacion                       float64
Valor Vencido                          float64
Regional                                 int64
REGION                                  object
Abogado                                  int64
Dias Mora                                int64
FRANJA                                  object
Fecha Traslado Para Cobro       datetime64[ns]
Fecha Ultima Facturacion                object
Segmento                                object
Oficina Radicacion                       int64
Red                                      int64
Cuadrante                               object
Descripcion Causal                      object
Calificacion Real                        int64
Fecha De Perfeccionamiento      datetime64[ns]
Endeudamiento                          float64
Rango endeudamiento                     object
Sector Economico                        object
Profesion                               object
Ocupacion                               object
dtype: object

In [10]:
data_real = data[['PRODUCTO', 'Valor Obligacion', 'Valor Vencido', 'REGION', 'Dias Mora', 'FRANJA', 'Segmento',\
                  'Red', 'Cuadrante', 'Descripcion Causal', 'Calificacion Real', 'Fecha De Perfeccionamiento', \
                  'Endeudamiento', 'Rango endeudamiento', 'Profesion', 'Ocupacion']]
pd.options.display.float_format = '{:.2f}'.format
data_real.head(5)

,PRODUCTO,Valor Obligacion,Valor Vencido,REGION,Dias Mora,FRANJA,Segmento,Red,Cuadrante,Descripcion Causal,Calificacion Real,Fecha De Perfeccionamiento,Endeudamiento,Rango endeudamiento,Profesion,Ocupacion
0,TARJETAS DE CREDITO,5637605.00,152093.00,BOGOTA,30,<30,PERSONAL PLUS,1,TIENE VOLUNTAD Y TIENE CAPACIDAD REDUCIDA,CALAMIDAD,2,1978-12-06,5637605.00,2015-01-01 00:00:00,SIN PROFESION,SIN OFICIO
1,CONSUMO,40584.00,40584.00,BOGOTA,110,91-120,PERSONAL PLUS,1,SIN CUADRANTE,SIN CAUSAL DE MORA,3,2015-03-11,40584.00,<1M,SIN PROFESION,SIN OFICIO
2,TARJETAS DE CREDITO,2786178.00,547088.00,SUR,60,31-60,PERSONAS,1,TIENE VOLUNTAD Y TIENE CAPACIDAD REDUCIDA,RETRASO EN PAGO DE SALARIO,1,2003-03-27,7747280.00,2015-01-01 00:00:00,SIN PROFESION,JUBILADO
3,TARJETAS DE CREDITO,5904653.00,1455631.00,BOGOTA,90,61-90,PYMES,1,NO TIENE VOLUNTAD Y TIENE CAPACIDAD,DESCUIDO,1,1990-09-01,5904653.00,2015-01-01 00:00:00,SIN PROFESION,SIN OFICIO
4,CONSUMO,2221125.00,2221125.00,CENTRO,48,31-60,PERSONAL PLUS,1,TIENE VOLUNTAD Y TIENE CAPACIDAD,DESCUIDO,2,2015-05-12,2221125.00,2015-01-01 00:00:00,AGRICULTOR,TAXISTA

In [11]:
warnings.filterwarnings("ignore")
data_real['FRANJA'] = [1 if valor == "<30" else
                        2 if valor == "31-60" else
                        3 if valor == "61-90" else
                        4 if valor == "91-120" else
                        5 if valor == "121-180" else
                        6 for valor in data_real["FRANJA"]]

In [12]:
warnings.filterwarnings("ignore")
data_real['Rango endeudamiento'] = data_real['Rango endeudamiento'].astype(str)
data_real['Rango endeudamiento'] = data_real['Rango endeudamiento'].replace('2015-01-01 00:00:00','1-15')

data_real['Rango endeudamiento'] = [1 if valor == "<1M" else
                                    2 if valor == "1-15" else
                                    3 if valor == "15-50" else
                                    4 if valor == "50-100" else
                                    5 if valor == "100-200" else
                                    6 for valor in data_real["Rango endeudamiento"]]

In [13]:
nulos = data_real[data_real['Segmento'].isna()]
nulos

,PRODUCTO,Valor Obligacion,Valor Vencido,REGION,Dias Mora,FRANJA,Segmento,Red,Cuadrante,Descripcion Causal,Calificacion Real,Fecha De Perfeccionamiento,Endeudamiento,Rango endeudamiento,Profesion,Ocupacion
3139,CH PROPIA,55346537.92,654980.54,CENTRO,6,1,NaN,2,SIN CUADRANTE,SIN CAUSAL DE MORA,2,2015-04-21,61588583.92,4,SIN PROFESION,SIN OFICIO
14017,CH PROPIA,200383037.80,1745434.49,ANTIOQUIA,2,1,NaN,2,SIN CUADRANTE,SIN CAUSAL DE MORA,1,2015-03-25,361941247.78,6,SIN PROFESION,SIN OFICIO
21329,CH PROPIA,29843747.62,300814.06,BOGOTA,1,1,NaN,2,SIN CUADRANTE,SIN CAUSAL DE MORA,1,2015-05-26,32790165.62,3,SIN PROFESION,SIN OFICIO
34476,CH PROPIA,110732941.30,1365607.92,BOGOTA,1,1,NaN,2,SIN CUADRANTE,SIN CAUSAL DE MORA,2,2015-03-26,114683710.33,5,SIN PROFESION,SIN OFICIO
43462,CH PROPIA,38233954.89,487370.57,BOGOTA,2,1,NaN,2,SIN CUADRANTE,SIN CAUSAL DE MORA,3,2015-03-25,40763473.89,3,SIN PROFESION,SIN OFICIO
58033,CH PROPIA,45466763.58,528308.25,BOGOTA,2,1,NaN,2,SIN CUADRANTE,SIN CAUSAL DE MORA,2,2015-03-25,45894353.58,3,SIN PROFESION,SIN OFICIO
60764,CH PROPIA,71526324.00,1018252.08,CENTRO,20,1,NaN,2,NO TIENE VOLUNTAD Y TIENE CAPACIDAD,EXTRACTO NO ENTREGADO,3,2015-04-07,110909489.00,5,SIN PROFESION,SIN OFICIO
68697,CH PROPIA,101807216.20,1067197.77,BOGOTA,4,1,NaN,2,SIN CUADRANTE,SIN CAUSAL DE MORA,1,2015-04-23,104329789.21,5,SIN PROFESION,SIN OFICIO
71448,TARJETAS DE CREDITO,869062.00,869062.00,BOGOTA,210,6,NaN,1,TIENE VOLUNTAD Y TIENE CAPACIDAD REDUCIDA,AFECTADO POR ESTAFA,1,2013-12-12,869062.00,1,SIN PROFESION,SIN OFICIO

In [ ]:
data_real.head(5)

In [ ]:
data.describe()

In [ ]:
print('Promedio: ' + str(data['Valor Obligacion'].mean()))
print('Mediana: ' + str(data['Valor Obligacion'].median()))
print('Moda: ' + str(data['Valor Obligacion'].mode()))

In [ ]:
print('Promedio: ' + str(data['Dias Mora'].mean()))
print('Mediana: ' + str(data['Dias Mora'].median()))
print('Moda: ' + str(data['Dias Mora'].mode()))

In [ ]:
data.Profesion.value_counts()

In [ ]:
data.PRODUCTO.value_counts()

In [ ]:
data.Ocupacion.value_counts()

In [ ]:
print(data[data["Ocupacion"]=="SIN OFICIO"]["Valor Obligacion"].mean())
print(data[data["Ocupacion"]=="INDEPENDIENTE"]["Valor Obligacion"].mean())
print(data[data["Ocupacion"]=="EMPLEADO SECTOR PRIVADO"]["Valor Obligacion"].mean())

In [ ]:
data['Calificacion Real'].value_counts()

In [ ]:
pd.crosstab(data["PRODUCTO"],data["Ocupacion"],margins=True)

In [ ]:
pd.crosstab(data["Cuadrante"],data["Ocupacion"],margins=True)

In [ ]:
pd.crosstab(data["Cuadrante"],data["Descripcion Causal"],margins=True)

In [ ]:
pd.crosstab(data["Ocupacion"],data["Descripcion Causal"],margins=True)

In [ ]:
pd.crosstab(data["Dias Mora"],data["Descripcion Causal"],margins=True)

In [ ]:
ocup_null = data.loc[data['Ocupacion'].isna()]

In [ ]:
ocup_null['Profesion'].value_counts()

In [ ]:
def cond_profesion(profesion):
    if pd.isna(profesion):
        return 'SIN OFICIO'
    else:
        return profesion

data['Ocupacion'] = data['Profesion'].apply(cond_profesion)

In [ ]:
cuad_null = data.loc[data['Cuadrante'].isna()]

In [ ]:
cuad_null

In [ ]:
cuad_null['Cuadrante'].value_counts()

In [ ]:
import missingno as msn
msn.matrix(data_real)

In [ ]:
data.drop(columns='Nombres', axis=1, inplace=True)
data.drop(columns="Numero Documento", axis=1, inplace=True)
data.drop(columns="Sector Economico", axis=1, inplace=True)

In [ ]:
data

In [ ]:
data.shape

#### Punto 2

In [ ]:
afdsdaf

In [ ]:
fdsfsfa